* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}
